.flink#article-container {
  margin-bottom: 20px;
}
.flink-desc {
  margin: 0.2rem 0 0.5rem;
}
.flink-list {
  overflow: auto;
  padding: 10px 10px 0;
  text-align: center;
}
.flink-list > .flink-list-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 15px 7px;
  width: calc(100% / 3 - 15px);
  height: 90px;
  border-radius: 8px;
  line-height: 17px;
  -webkit-transform: translateZ(0);
maxWidth1024()
maxWidth600()
}
.flink-list > .flink-list-item:hover .flink-item-icon {
  margin-left: -10px;
  width: 0;
}
.flink-list > .flink-list-item:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--text-bg-hover);
  content: '';
  transition: transform 0.3s ease-out;
  transform: scale(0);
}
.flink-list > .flink-list-item:hover:before,
.flink-list > .flink-list-item:focus:before,
.flink-list > .flink-list-item:active:before {
  transform: scale(1);
}
.flink-list > .flink-list-item a {
  color: var(--font-color);
  text-decoration: none;
}
.flink-list > .flink-list-item a .flink-item-icon {
  float: left;
  overflow: hidden;
  margin: 15px 10px;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  transition: width 0.3s ease-out;
}
.flink-list > .flink-list-item a .flink-item-icon img {
  width: 100%;
  height: 100%;
  transition: filter 375ms ease-in 0.2s, transform 0.3s;
  object-fit: cover;
}
.flink-list > .flink-list-item a .img-alt {
  display: none;
}
.flink-item-name {
  padding: 16px 10px 0 0;
  height: 40px;
  font-weight: bold;
  font-size: 1.43em;
}
.flink-item-desc {
  padding: 16px 10px 16px 0;
  height: 50px;
  font-size: 0.93em;
}
.flink-name {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5em;
}
